Name: Verification
Role: Criteria for verification of knowledge work
Contents: principles of verification for reliable knowledge.
Path to generating reliable knowledge:  If problem statement, then requirements, then objectives, then verification, then validation, then evaluation, then assessment, then implementation, then integration, then reflection, and resolution.  We are at: verification

